vars.zsh
.zen/profile.daniel/datareporting
.zen/profile.daniel/extension-store
.zen/profile.daniel/extension-store
.zen/profile.daniel/extension-store-menus
.zen/profile.daniel/extension-store-menus
.zen/profile.daniel/extensions
.zen/profile.daniel/storage
.zen/profile.daniel/weave
.cache_ggshield
